* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Візуальні стилі */
.container {
  background-color: rgba(129, 130, 128, 0.647);
  padding: 15px;
  height: 400px;
}
.box {
  height: 100px;
  width: 150px;
  background-color: rgb(46, 40, 235);
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
}
/* Напишіть ваш код css після цього коментаря */
/* 1.Не змінюючи стилі вище зробіть макет максимально схожий на зображення  */
/* Підказка: 
        -відступи між елементами по 15px. 
        -зверніть увагу на порядок та місце розташування елементів 
        -дозвольте елементам займати новий рядок в разі потреби*/
/* 2.Вирівняйте текст всередині еллементів поцентру,
 як вертикально так і горизонтально, звісно ж, використовуючи flexbox */
 .container {
  display: flex;
  gap: 15px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
 }
 .box {
  display: flex;
  justify-content: center;
  align-items: center;
 }